@import '../../common/styles/templates';
@import '../../common/styles/vars';

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  margin-right: 20px;
  margin-left: 20px;
}

.input {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: lavender;
  font-size: 1.2em;
  padding: 20px;
  outline: none;
  margin-bottom: 15px;
  flex: 1;
}

.invalid {
  border: 3px solid red;
}

.valid {
  border: 3px solid green;
}
