@import './vars';

%flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

%cell-size {
  width: $calendar-component-size / 9;
  height: $calendar-component-size / 10;
}

%panels-color {
  background-color: $static-element-bgcolor;
  height: $static-element-size;
  & a {
    color: $static-element-font-color;
  }
}

%login-signup-style {
  min-height: 100vh - $static-element-size;
  width: 100%;
  background-color: #3ea9f5;
}

%header-styles {
  text-align: center;
  word-spacing: 4px;
  color: white;
  font-weight: bold;
}

%button-style-login-signup {
  border-radius: 5px;
  border: none;
  background-color: #28d2d0;
  width: 100%;
  height: 65px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

%paragraph-style-in-regform {
  margin: 0;
  font-size: 0.9em;
  font-weight: lighter;
  padding-left: 20px;
  color: white;
}

%element-with-checkbox {
  @extend %flex-container;
  justify-content: flex-start;
  margin-bottom: 15px;
  p {
    margin: 0;
    padding-left: 20px;
    color: white;
  }
}

%form-container-in-login-signup {
  width: 80%;
  max-width: 600px;
  margin: 0 20px;

  button {
    @extend %flex-container;
    @extend %button-style-login-signup;
    margin-bottom: 100px;
  }
}
