@import '../../common/styles/templates';
@import '../../common/styles/vars';

.formContainer {
  width: 600px;

  .inputsContainer {
    @extend %flex-container;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  button {
    @extend %flex-container;
    @extend %button-style-login-signup;
  }
}
