@import '../../common/styles/templates';
@import '../../common/styles/vars';

.formContainer {
  width: 600px;
  margin: 0 20px;

  button {
    @extend %flex-container;
    @extend %button-style-login-signup;
  }
}

.stubElement {
  @extend %flex-container;
  justify-content: space-between;
  color: white;
  font-size: 0.8em;
  margin-bottom: 25px;
  cursor: pointer; // :D
}
