@import '../../common/styles/templates';
@import '../../common/styles/vars';

.formContainer {
  @extend %form-container-in-login-signup;
}

.options {
  @extend %flex-container;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
  }
}

.remembering {
  @extend %element-with-checkbox;
}
