@import "../../../common/styles/templates";
@import "../../../common/styles/vars";

.dayContainer {
	@extend %flex-container;
	flex-direction: column;
	width: $calendar-component-size;
	height: $calendar-component-size;
	background-color: rgb(3, 207, 207);
	* {
		color: white;
	}
	div:first-child {
		margin-bottom: auto;
		margin-top: $calendar-component-size / 10;
		font-size: $calendar-component-size / 15;
		font-weight: 300;
	}
	div:last-child {
		font-size: $calendar-component-size / 3;
		position: absolute;
	}
}
