@import '../../common/styles/templates';
@import '../../common/styles/vars';

.header {
  @extend %panels-color;

  a {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    @extend %flex-container;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 5px;
    &:nth-child(-n + 2) {
      flex-basis: 35%;
    }
  }
}
