@import '../../common/styles/templates';
@import '../../common/styles/vars';

.header {
  @extend %panels-color;

  a {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    @extend %flex-container;
    justify-content: space-around;
    height: 100%;
    margin: auto;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
