@import '../../common/styles/templates';
@import '../../common/styles/vars';

.header {
  @extend %flex-container;
  justify-content: space-around;
  margin-bottom: auto;

  color: $static-element-font-color;
  background-color: $static-element-bgcolor;

  height: $static-element-size;
  a {
    color: $static-element-font-color;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
