@import '../../common/styles/templates';
@import '../../common/styles/vars';

.loginFormContainer {
  @extend %flex-container;
  @extend %login-signup-style;
  flex-direction: column;

  h2 {
    @extend %header-styles;
    font-size: 36px;
    text-transform: uppercase;
  }
}
