@import '../../common/styles/templates';
@import '../../common/styles/vars';

.footer {
  @extend %flex-container;
  margin-top: auto;

  background-color: $static-element-bgcolor;

  height: $static-element-size;
  a {
    color: $static-element-font-color;
  }
}
