@import '../../common/styles/templates';

.homePageContentFirst {
  @extend %flex-container;
  margin-top: auto;
  font-size: 3em;
}

.homePageContentSecond {
  @extend %flex-container;
  margin-bottom: auto;
  font-size: 3em;
}
